main {
    margin:0 auto ;
    text-align: center;
    width: 540px;
    border: black 2px;

}
div {
    height: 60px;
    width: 60px;
    display: inline-block;
    margin: 0px;

}
.color1 {
    background-color: black;
}
.color2 {
    background-color: red;
}