<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Submitted Info</h1>
<p>Name: {{ user_name_temp }}</p>
<p>Dojo location: {{ user_location_temp }}</p>
<p>Favorite language: {{ user_lang_temp }}</p>
<p>comment: {{ user_mess_temp }}</p>
<!-- <form>
    <button name="go">Go Back</button>
</form> -->
</body>
</html>


