<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="goback"><p><a href="/shows">Go back</a></p></div>
    
    <h1>Edit Show {{all_shows.id}}</h1>
    <form action="/edit/{{all_shows.id}}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="hidden" value="{{all_shows.id}}">
        <label for="title">Title</label>
        <input type="text" name="title"><br>
        <label for="network">network</label>
        <input type="text" name="network"><br>
        <label for="releasedate">release date</label>
        <input type="date" name="releasedate"><br><br>
        <label for="description">description</label>
        <textarea name="desc"></textarea>
        <input type="submit" value="update" >
      </form>
     <a href="/shows/{{all_shows.id}}">Go to show</a>
</body>
</html>
